	.ml-10 {
			margin-left: 10px;
		}
		.mr-10 {
			margin-right: 10px;
		}
		section.box {
			border:1px solid #ccc;
		}
		section header {
			border:none;
			border-bottom: 1px solid #ccc;
			    margin-bottom: 10px;
    background: #efefef;
    min-height: 0px;

		}
		section header .title {
			padding-top:0px;
		}
		#form-title {
			font-weight: 700;
		}
		.form-group {
			padding: 5px;
			margin-bottom: 0px;
		}
		.form-group label {
			font-size: 12px;
    		font-weight: 600;
    		margin-bottom: 0;
		}
		.color-red {
			color: red;
    margin-left: 10px;
        margin-top: 33px;
		}
		.dis-flex {
			display: flex;
		}
		.form-check-label {
			font-weight: 500;
			font-size: 14px;
		}
		.mt-30 {
			    margin-top: 30px;
		}
		.mb-10  {
			margin-bottom: 10px;
		}
		.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
    width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #150aec;
}

input:focus + .slider {
  box-shadow: 0 0 1px #150aec;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.round {
	    width: 50px;
    height: 25px;
}
.mt-10 {
	margin-top: 10px;
}	
.bottom-10 {
	position: relative;
	bottom: 10px;
}
.color-orange {
	color: orange;
	
}
.pos-l-t {
	position: relative;
    left: 10px;
    bottom: 6px;
}
.color-grey {
	color: #8a8989;
	font-weight: 400;
}
.insurance thead {
	color: #000;
    background: #ccc;
    font-size: 12px;
}
.pickersearch .btn-default {
	color: #868686 !important;
}
.pickersearch .btn-default {
	border-color: #e1e1e1!important;
    background-color: #fff !important;
    border: 1px solid #e1e1e1 !important;
}
.patient-info .btn.btn-primary {
	background: transparent;
	color: #0077cc;
}
.patient-info .btn-primary {
	box-shadow: none;
}
.open>.dropdown-toggle.btn-primary:focus {
	background: transparent;
	color: #0077cc;
}
 .open>.dropdown-toggle.btn-primary:hover {
	background: transparent;
	color: #0077cc;
}
.patient-info .dropdown-menu {
	position: absolute;
    left: calc(100% - 63%);
}
.patient-info {
	padding-top: 8px;
}
.patinet-info .btn-primary:active:focus {
	border-color: #efefef;
}